.lists{

    &-content{
        border-bottom: 1px solid var(--color-border);

        .isFixed{
            display: flex;
        }

    }

    &-h1{
        padding: 12px 16px;
    }

    &-mapListas{
        border: none;
    }

    &-mensaje-content{
        padding: 32px;
        border: none;
    }

    &-span{
        margin-top: 8px;
    }
}