.tweet__card{
    border-bottom:1px solid rgb(235, 238, 240);
    padding: 12px 16px;
    display: flex;
    .right{
        margin-right: 12px;

        .content-img{
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 48px;
            width: 48px;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    .left{
        .imgs-content{
            width: auto;
            border-radius: 16px;
            overflow: hidden;
            max-height: 180px;
            margin-top: 11px;
            display: flex;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .content_actions{
            margin-top: 11px;
            display: flex;
            justify-content: space-between;

            .like{
                svg{
                    fill:red;
                }
                span{
                    color: red;
                }
            }
            div{
                min-height: 33px;
                min-width: 33px;
                display: flex;
                align-items: center;

                svg{
                    width: 1.25em;
                    fill:#5B7083;
                }

                span{
                    margin-left: 10px;
                }
            }
        }

    }
    .content_Tweet{
        color: $textTweet;
        font-size: 15px;
        overflow-wrap: break-word;
    }
}