.UI__MenuMobile{
    position: fixed;
    width: 100%;
    bottom: 0;
}


.UI__fixed_btn{
    position: absolute;
    top: -77px;
    right: 19px;
    background-color: getColor(primary);
    width: 61px;
    height: 61px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        width: 22px;
        height: 20px;
        fill: #fff;
    }
}
.UI__nav{
    width: auto;
    height: 52px;
    border-top:1px solid getColor(border);
    background: getColor(theme);

    ul{
        height: 100%;
        display: flex;
        justify-content: space-around;

        li{
           width: auto;
            display: flex;
            align-items: center;

            .active{
                div{
                    svg{
                        fill:getColor(primary)
                    }
                }
                
            }

            div{
                border-radius: 35px;
                overflow: hidden;
            }
           .UI__iconContainer{
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            overflow: hidden;

            svg{
                height: 26px;
                width: 26px;
                fill:#5B7083
            }
           }
        }
    }
}


//----------------------Menu Desktop

.UI_MenuDesktop{
    height: 100vh;
    .UI__nav{
        height: 100%;
        width: 68px;
        border: none;
        border-right: 1px solid getColor(border);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .UI__content_ul{
            display: flex;
            flex-direction: column;
        }


        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            min-width: 46px;
            min-height: 46px;
            svg{
                width: 44px;
                height: 28px;
                fill:#fff;
            }

            .content-img{
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                min-height: 38px;
                min-width: 38px;
                height: 38px;
                width: 38px;
                margin: 22px 0;
                
                img{
                    height: 100%;
                    width: 100%;
                }
            }

           
        }

        ul{
            display: flex;
            flex-direction: column;
            height: auto;

            li{
                padding: 5px 0px;

                svg{
                    fill: getColor(textTweet)
                }
            }
        }
    }


    .UI__fixed_btn{
        position: unset;
        min-width: 44px;
        min-height: 44px;
        margin: 10px auto;

        width: 44px !important;
        height: 44px !important;
    }

}