.retweet{
    border: 1px solid var(--color-border);
    border-radius: 16px;
    margin-top: 12px;
    overflow: hidden;

    &__head{
        padding: 12px 12px 0px 12px;
    }
    &__person{
        display: flex;
        margin-bottom: 4px;
    }

    .content-img{//convertir a tomico
        border-radius: 50%;
        display: block;
        overflow: hidden;
        margin-right: 4px;
        height: 19px;
        width: 19px;
    }
    .content_Tweet{//hacer atomico para no repetir en tweet card
        color: var(--color-textTweet);
        font-size: 15px;
        overflow-wrap: break-word;
        margin-bottom: 12px;
    }
}