.custom-loader {
  animation:s2 1s infinite linear;
  border-radius:50%;
  border: 3px solid;
  border-color:var(--color-blue-hover);
  border-right-color: var(--color-primary);
  height: 20px;
  margin: 20px auto;
  width:  20px;
}
@keyframes s2 {to{transform: rotate(1turn)}}