.form{
    background-color: var(--color-formBackground);
    border-radius: 9999px;
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: center;

    &:focus{//no funciona
        background: none;
        border: 1px solid var(--color-primary);

        svg{
            fill:var(--color-primary)
        }
    }

    & > div{
        padding-left: 12px;
        width: 44px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            height: 19.59px;
            width: 19.19px;
            fill:var(--color-textSecondary)
        }
    }

    input{
        color: var(--color-textPrimary);
        background:none;
        border: none;
        font-size: 16px;
        padding: 4px 12px;
        outline: none;
        width: 100%;
    }
}

@media (min-width:500px) {
    .form{
        input{
            padding:12px;
        }
    }
}