.img-content{
    width: auto;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 200px;

    &.is-single{
        width: 100%;
    }

    &.is-double{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2px;
    }

    &.is-triple{
        @extend .is-double;

        .is-large{
            grid-column: 1/2;
            grid-row: 1/3;
        }
    }

    &.is-multiple{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2px;
    }

    div{
        background-position: center;
        background-size: cover;
        cursor: pointer;
        height: 100%;
    }

    .is-full{
        width: 100%;
    }

    .is-large{
        width: auto;
        overflow: hidden;
    }

    .is-short{
        width: auto;
        overflow: hidden;
    }

    .is-more{
        display: flex;
        justify-content: center;
        align-items: center;
        color: getColor(white);
        position: relative;

        span{
            z-index: 10;
        }

        &::before{
            content: '';
            backdrop-filter: brightness(50%);
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

.retweet{
    .img-content{
        border-radius: 0;
    }
}

.screenTweet__tweet{
    .img-content{
        height: 182px;
        img{
            width: auto;
            height: 100%;
        }
    }
}

@media(min-width:720px){
    .img-content{
        height: 283px;
    }

    .screenTweet__tweet{
        .img-content{
            height: 388px;
        }
    }
}