.screenTweet__containerTweet{
    margin: 12px 16px 0;
}

.screenTweet__HeadTweet{
    display: flex;
    .content-img{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .screenTweet__names{
        margin-left: 10px;
    }
}

.screenTweet__tweet{
    margin-top: 12px;

    .screenTweet__content{
        color:getColor(textPrimary);
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }
    .screenTweet__times{
        padding: 16px 0;
        border-bottom:1px solid getColor(border) ;
    }
}

.screenTweet__datas{
    
    .screenTweet__data{
        display: flex;
        padding: 16px 0;
        border-bottom:1px solid getColor(border) ;

        span{
            margin-right: 10px;
            margin-left: 4px;
        }
    }
    
}

.screenTweet__icons{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    div{
        min-height: 33px;
        min-width: 33px;
        display: flex;
        align-items: center;

        svg{
            width: 1.25em;
            fill:var(--color-grey);
        }

        span{
            margin-left: 10px;
        }
    }
    .is-active{
        svg {
            fill: var(--color-red);
        }
    }
}


.screenTweet__comments{
    border-top:1px solid getColor(border) ;
}
