.screenTweet{

    &-containerTweet{
        margin: 12px 16px 0;
    }

    &-HeadTweet{
        display: flex;
        
        .content-img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
    
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &-names{
        margin-left: 10px;
    }

    &-tweet{
        margin-top: 12px;
    
        .img-content{
            margin-top: 12px;
        }
    }

    &-content{
        color:getColor(textPrimary);
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }

    &-times{
        padding: 16px 0;
        border-bottom:1px solid getColor(border) ;
    }

    &-data{
        display: flex;
        padding: 16px 0;
        border-bottom:1px solid getColor(border) ;

        span{
            margin-right: 10px;
            margin-left: 4px;
        }
    }

    &-comments{
        border-top:1px solid getColor(border) ;
    }
 
    &-comment{
        border-bottom: 1px solid var(--color-border);
        transition-duration: 0.2s;
    }
}