.title{

    color: var(--color-textPrimary);

    &.blue{
        color:var(--color-primary)
    }

    &.grey{
        color:var(--color-grey)
    }

    &.xs{
        font-size: 15px;
    }

    &.fz15{
        font-size: 15px;
    }

    &.fz17{
        font-size: 17px;
    }

    &.fz20{
        font-size: 20px;
    }

    &.fz24{
        font-size: 24px;
    }

    &.bold{
        font-weight: bold;
    }
}