.widgets{

    &-content{
        margin-right: 10px;
        width: 290px;
    }

    &-SingleContent{
        background-color: var(--color-widgetBackground);
        border-radius: 16px;
        margin: 20px auto;
    
        h1{
            font-weight: 900;
            font-size: 20px;
            color: var(--color-textPrimary);
            padding: 12px 16px;
        }
    
    }
}

@media (min-width:1095px) {
    .widgets{

        &-content{       
            width: 350px;
        }
    }
}