.button{
    align-items: center;
    border:none;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    padding: 0 24px;

    &.is-primary{
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    &.is-secondary{
        background: none;
        border-color: var(--color-primary);
        color: var(--color-primary);
    }

    &.is-textPrimary{
        background: none;
        border-color: var(--color-borderButton);
        color: var(--color-textPrimary);
    }

    &.is-textPrimaryInvert{
        background: var(--color-textPrimary);
        color: var(--color-textPrimaryInvert);
    }

    &.p16{
        padding: 7px 16px;
    }
    &.p11{
        padding: 11px 0px;
    }

    &.is-w100{
        width: 100%;
    }

    &.is-margin{
        margin: 12px 16px;
    }

    &:disabled{
        
    }
}

@media (min-width:600px) {
    .button{

        &-mobile{
            display: none;
        }
    }
}