.options{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 34px;
    justify-content: center;
    transition-duration: 0.2s;
    width: 34px;

    &:hover{
        background: var(--color-blue-hover);
        
        svg{
            fill:var(--color-blue);
        }
    }

    svg{
        height: 18px;
        fill: var(--color-grey);
        width: 18px;
    }

}