.dropdownItem{
    display: flex;
    padding: 12px 0px;

    
    &:hover{
        background: var(--color-hoverBackground);
        cursor: pointer;
    }

    &-span{
        color: var(--color-themeInvert);
        font-weight: 700;
        font-size: 15px;
        margin-left: 12px;
        white-space: nowrap;
    }

    svg{
        width: 1.25em;
        fill:var(--color-themeInvert);
    }
}