

*{
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
body{
    background-color: getColor(theme);
}
.body{
    margin-bottom: 52px;
    width: 100%;    
}
li{
    list-style: none;
}

.bold{
    font-weight: bold;
    color: getColor(textPrimary);
}

.lighter{
    font-weight: 400;
    color: getColor(textSecondary);
}

.content-img{
    display: flex;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
    }
}

.min-size{
    font-size:12px;
}

.btn{
    background: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 800;
    font-size: 15px;
    height: min-content;
}

.btn_primary{
    border: 1px solid var(--color-primary);
    color:var(--color-primary);
}
.btn_secondary{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color:var(--color-white);
}

@media(min-width:600px){
    header{
        flex: 1;
        display: flex;
        position: relative;
        
        .UI_subHeader{
            width: 100%;
            position: absolute;
            right: 0;
            display: flex;
            justify-content: flex-end;

            .UI_MenuDesktop{
                position: fixed;
                
                .UI__nav{
                    border: none;
                }
            }
        }
        
    }
    body{
        
        margin: auto;
    

        .body{
            margin-bottom: 0;
            flex: 4;
            .sub_body{
                max-width: 600px;
                border: 1px solid getColor(border2);
                height: 100%;
            }
        }
    }
}

@media(min-width:1000px){
    .UI__header{
        max-width: 88px;
    }
    .body{
        flex: 3 !important;
    }
}

.container{
    max-width: 1200px;
    margin: auto;
}